<div class="css-table">
  <div class="css-table-row">
  <label class="css-table-cell" ng-if="year">订单年份：
    <select ng-options="value for value in years" ng-model="year"
        ng-change="reload()"></select>
  </label>
  <label class="css-table-cell" ng-show="orders.length">输入订单号过滤：
    <input ng-model="orderId" list="order-ids">
    <datalist id="order-ids">
      <option ng-repeat="id in orderIds" value="{{id}}"></option>
    </datalist>
  </label>
  <label class="css-table-cell" ng-show="orders.length">输入电话过滤：
    <input ng-model="tel" list="phones">
    <datalist id="phones">
      <option ng-repeat="phone in phones" value="{{phone}}"></option>
    </datalist>
  </label>
  <label class="css-table-cell" ng-show="orders.length">输入班级过滤：
    <input ng-model="className" list="class-names">
    <datalist id="class-names">
      <option ng-repeat="name in classNames" value="{{name}}"></option>
    </datalist>
  </label>
  </div>
</div>
<div ng-if="admin && isOrderAdmin() && orders.length" class="css-table">
  <div class="css-table-row">
	  <div class="css-table-cell"> 
	    总数 {{stats.count}}
	  </div>
	  <div class="css-table-cell"> 
	    金额 {{stats.sub_total}}
	  </div>
    <div class="css-table-cell"> 
      预计国际运费 {{stats.int_shipping_estmt}}
    </div>
    <div class="css-table-cell"> 
      实际国际运费{{stats.int_shipping}}
    </div>
    <label class="css-table-cell">
      输入实际国际运费总额: 
      <input type="number" min="1" step="any"
          ng-model="stats.actual_int_shipping">
    </label>
    <div class="css-table-cell">
      <input type="button" value="按比例分摊到各订单中" ng-click="breakUp()">
      <input type="button" value="取消" ng-click="reload()">
      <input type="button" ng-disabled="!stats.actual_int_shipping"
          value="保存" ng-click="save()">
    </div>
	  <label class="css-table-cell">显示汇总 
	    <input type="checkbox" ng-model="stats.showStats">
	  </label>
  </div>
</div>
<div ng-if="stats.showStats && admin">
  <h2>汇总</h2>
  <div ng-if="stats" class="section css-table order-details-line odd-even">
    <div class="css-table-row header">
      <div class="css-table-cell">编号</div>
      <div class="css-table-cell">书名</div>
      <div class="css-table-cell">价格</div>
      <div class="css-table-cell">数量</div>
      <div class="css-table-cell">合计</div>
      <div class="css-table-cell">预计国际运费</div>
    </div>
    <div ng-repeat="item in stats.items" class="css-table-row">
      <div class="css-table-cell">{{$index + 1}}</div>
      <div class="css-table-cell book-name">{{item.name}}</div>
      <div class="css-table-cell">{{item.price}}</div>
      <div class="css-table-cell">{{item.count}}</div>
      <div class="css-table-cell">{{item.sub_total}}</div>
      <div class="css-table-cell">{{item.int_shipping_estmt}}</div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell"></div>
      <div class="css-table-cell"></div>
      <div class="css-table-cell">合计</div>
      <div class="css-table-cell">{{stats.count}}</div>
      <div class="css-table-cell">{{stats.sub_total}}</div>
      <div class="css-table-cell">{{stats.int_shipping_estmt}}</div>
    </div>
  </div>
  <hr>
</div>
<h3>订单列表</h3>
<a ng-if="!admin" href="https://docs.google.com/document/d/1xD1dwbkiFAfrrdueCo-A4NzoG5nmyJSp2v5H5DBncyw/edit?usp=sharing"
    target="_blank" class="right">
    付款流程
</a>
<div ng-repeat="order in orders | filter: {id: orderId, phone: tel, class_name: className}"
    class="section order-details-line">
  <order-details order="order" admin="{{admin}}"
      on-cancel="remove(order)" on-update="update(order)" user="user"
      on-merge="merge(order)" on-split="split(order)"
      on-remove-item="removeOrderItem(order, item)">
  </order-details>
</div>
