<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css?tag=201801032042">
<title>订单管理</title>
<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
</script>
<link rel="import" href="bower_components/iron-icon/iron-icon.html"/>
<link rel="import" href="bower_components/iron-icons/av-icons.html"/>
<link rel="import" href="bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="bower_components/iron-pages/iron-pages.html"/>
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html"/>
</head>

<body class="center white">

<app-bar user="user" admining="true"></app-bar>

<div class="center page-container">
  <paper-tabs noink selected="0">
    <paper-tab>待发货订单</paper-tab>
    <paper-tab>待付款订单</paper-tab>
    <paper-tab>已完成订单</paper-tab>
    <paper-tab>库存管理</paper-tab>
    <paper-tab>客户名单</paper-tab>
  </paper-tabs>
  
  <iron-pages selected="0">
    <div>
      <orders user="user" admin="true" status="0"></orders>
    </div>
    <div>
      <orders ng-if="pageLoaded[1]" user="user" admin="true" status="1">
      </orders>
    </div>
    <div>
      <orders ng-if="pageLoaded[2]" user="user" admin="true" status="3"
          year="true">
      </orders>
    </div>
    <div>
      <inventory ng-if="pageLoaded[3]" user="user"></inventory>
    </div>
    <div>
      <users ng-if="pageLoaded[4]" agent-id="user.id"></users>
    </div>
  </iron-pages>
</div>

<script type="text/javascript" src="order_admin.js?tag=201801041951"></script>
</body>
</html>
