<div class="padded-element">
  <label>输入名字查找: <input type="text" ng-model="namePrefix"></label>
  <input type="button" value="取消" ng-disabled="!isDirty()" ng-click="cancel()">
  <input type="button" value="保存" ng-disabled="!isDirty()" ng-click="save()">
</div>
<div class="flex">
  <div class="css-table odd-even">
    <div class="css-table-row header">
      <div class="css-table-cell">产品</div>
      <div class="css-table-cell">进价</div>
      <div class="css-table-cell">零售价</div>
      <div class="css-table-cell">中国库存</div>
      <div class="css-table-cell">美国库存</div>
      <div class="css-table-cell">类别</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="item in items | filter: {name: namePrefix}"
        class="css-table-row hover-button-row selectable"
        ng-class="{'selected': item == selected.item}"
        ng-click="selected.item = item">
      <div class="css-table-cell">{{item.short_name || item.name}}</div>
      <div class="css-table-cell">¥{{item.cost}}</div>
      <div class="css-table-cell">¥{{item.price}}</div>
      <div class="css-table-cell">
        <editable-label type="number" value="item.inventory_cn"
            on-change="changed(item, cn)">
        </editable-label>
      </div>
      <div class="css-table-cell">
        <editable-label type="number" value="item.inventory_us"
            on-change="changed(item, us)">
        </editable-label>
      </div>
      <div class="css-table-cell">{{categories[item.category].name}}</div>
      <div class="css-table-cell">
        <span ng-show="item.dirty">*</span>
        <iron-icon icon="add" class="hover-button clickable"
            ng-click="addToCart(item)">
        </iron-icon>
      </div>
    </div>
  </div>
  <inventory-history ng-if="selected.item && cart.isEmpty" item="selected.item">
  </inventory-history>
  <shopping-cart cart="cart" user="user" refill="true"></shopping-cart>
</div>
<hr>
<orders user="user" admin="true" status="-1" year="year">
</orders>
