<div class="padded-element">
  <label>输入名字查找: <input type="text" ng-model="namePrefix"></label>
</div>
<div class="flex">
  <div class="css-table odd-even">
    <div class="css-table-row header">
      <div class="css-table-cell">产品</div>
      <div class="css-table-cell">进价</div>
      <div class="css-table-cell">零售价</div>
      <div class="css-table-cell">中国库存</div>
      <div class="css-table-cell"></div>
      <div class="css-table-cell">美国库存</div>
      <div class="css-table-cell">类别</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="item in items | filter: {name: namePrefix}"
        class="css-table-row hover-button-row">
      <div class="css-table-cell">{{item.name}}</div>
      <div class="css-table-cell">¥{{item.cost}}</div>
      <div class="css-table-cell">¥{{item.price}}</div>
      <div class="css-table-cell">{{item.inventory_cn}}</div>
      <div class="css-table-cell">
        <iron-icon icon="arrow-back" ng-click="move(item, -1)" title="搬到中国"
            class="clickable">
        </iron-icon>
        <iron-icon icon="arrow-forward" ng-click="move(item, +1)"
            title="搬到美国" class="clickable">
        </iron-icon>
      </div>
      <div class="css-table-cell">{{item.inventory_us}}</div>
      <div class="css-table-cell">{{categories[item.category].name}}</div>
      <div class="css-table-cell">
        <iron-icon icon="add" class="hover-button clickable"
            ng-click="addToCart(item)">
        </iron-icon>
      </div>
    </div>
  </div>
  <shopping-cart cart="cart" user="user" refill="true"></shopping-cart>
</div>
<hr>
<orders user="user" admin="true" status="-1" year="year">
</orders>
