<form name="bookEditorForm">
  <div class="css-table">
    <div class="css-table-row">
      <div class="css-table-cell">书名</div>
      <div class="css-table-cell">
        <input ng-model="book.name" placeholder="输入新的书名..."
            list="existing-names" required>
        <datalist id="existing-names">
          <option ng-repeat="item in items" value="{{item.name}}"></option>
        </datalist>
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell">类别</div>
      <div class="css-table-cell">
        <select ng-options="categories[id].name for id in categoryIds"
            ng-model="book.category" required>
        </select>
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell">价格</div>
      <div class="css-table-cell">
        <input type="number" step="0.01" ng-model="book.price" required>
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell">国际运费</div>
      <div class="css-table-cell">
        <input type="number" step="0.01" ng-model="book.int_shipping" required>
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell">图片地址</div>
      <div class="css-table-cell">
        <input type="url" ng-model="book.image">
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell">简介</div>
      <div class="css-table-cell">
        <input type="url" ng-model="book.description">
      </div>
    </div>
  </div>
  <input type="button" value="取消" ng-click="onCancel()">
  <input type="submit" value="保存" ng-click="bookEditorForm.$valid && onSave()">
</form>
