<div class="flex user-container">
  <div class="user-info">
    <div class="css-table">
      <div class="css-table-row padded-element">
        <div class="css-table-cell">姓名</div>
        <div class="css-table-cell">{{user.name}}</div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right" ng-click="editing = 'name'"
              title="修改姓名">
          </iron-icon>
        </div>          
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">级别</div>
        <div class="css-table-cell">{{levelLabels[user.level]}}</div>
        <div class="css-table-cell">
          <iron-icon ng-show="isAdmin()" class="selectable" icon="chevron-right"
              ng-click="editing = 'level'" title="修改级别">
          </iron-icon>
        </div>          
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">密码</div>
        <div class="css-table-cell">******</div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right"
              ng-click="editing = 'password'" title="修改密码">
          </iron-icon>
        </div>          
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">账号</div>
        <div class="css-table-cell">{{user.email}}</div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right"
              ng-click="editing = 'email'" title="修改登录账号">
          </iron-icon>
        </div> 
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">电话</div>
        <div class="css-table-cell">{{user.phone}}</div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right"
              ng-click="editing = 'phone'" title="修改电话">
          </iron-icon>
        </div>          
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">微信</div>
        <div class="css-table-cell">{{user.im}}</div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right"
              ng-click="editing = 'im'" title="修改微信">
          </iron-icon>
        </div>          
      </div>
      <div class="css-table-row padded-element">
        <div class="css-table-cell">地址</div>
        <div class="css-table-cell">
          <address-editor user="user"></address-editor>
        </div>
        <div class="css-table-cell">
          <iron-icon class="selectable" icon="chevron-right"
              ng-click="editing = 'address'" title="编辑地址">
          </iron-icon>
        </div>          
      </div>
    </div>
  </div>
  <div ng-if="editing" class="css-table user-info-editor">
   <div class="css-table-row">
      <div ng-switch="editing" class="css-table-cell">
        <input ng-switch-when="name" ng-model="user.name" type="text" autofocus>
        <input ng-switch-when="email" ng-model="user.email" type="email" autofocus>
        <select ng-switch-when="level" ng-model="user.level" autofocus
            ng-options="levelLabels[value] for value in [0, 1, 2, 3, 4, 5, 6]">
        </select>
        <input ng-switch-when="phone" ng-model="user.phone" type="tel" autofocus>
        <input ng-switch-when="im" ng-model="user.im" type="text" autofocus>
        <div ng-switch-when="password">
          <input type="password" ng-model="user.password" autofocus>
          <input type="password" ng-model="user.confirm" autofocus>
          <div ng-if="user.password != user.confirm" class="error">两次输入的密码不匹配</div>
        </div>
        <address-editor ng-switch-when="address" editing="true" user="user">
        </address-editor>
        <input ng-switch-when="comments" ng-model="user.comments" type="text" autofocus>
        <div ng-if="error" class="error">{{error}}</div>
      </div>
      <input type="submit" value="保存" ng-click="save()" class="css-table-cell">
    </div>
  </div>
</div>
