<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<paper-dialog id="zb-login">
  <h2>登录智悲系统</h2>
  <paper-input id="zb-username" label="用户名" type="text" value="zhibeihw1"></paper-input>
  <paper-input id="zb-password" label="密码" type="password"></paper-input>
  <paper-input id="zb-editpassword" label="编辑密码" type="password"></paper-input>
  <img src="cgi-bin/proxy.php?url=http://www.zhibei.info/zb/captcha/create">
  <paper-input id="zb_captcha" label="校验码"></paper-input>
  <paper-button dialog-confirm raised autofocus ng-click="close(false)">Cancel</paper-button>
  <paper-button dialog-confirm raised autofocus ng-click="close(true)">Login</paper-button>
</paper-dialog>
